.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 1em;
    grid-column: 12px;
    grid-auto-rows: minmax(100px, auto);
}

.messages {
    padding: 12px;
    background-color: #ddd;
}

.chat {
    margin: 12px;
    background-color: rgb(185, 139, 139);
}